In [ ]:
#transfer from API to mysql
import requests
import mysql.connector

In [ ]:
# API endpoint and authentication (if needed)
api_url = 'LINK API'
# headers = {'Authorization': 'Bearer YOUR_API_KEY'}  # Modify as needed

# Make the API request
response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()  # Assuming the API response is in JSON format
else:
    print(f"API request failed with status code {response.status_code}")
    data = []

In [ ]:
# Connect to the MySQL database
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="",
    database="db_ade"
)
cursor = db.cursor()
temp = list(data.values())
temp_data = temp[0]

In [ ]:
int(temp_data[0]['nip'])

In [ ]:
# Insert data into MySQL
for item in temp_data:
    # Assuming 'table_name' is the name of your MySQL table
    values = (int(item['jenis_kelamin']), int(item['golongan']), int(item['pendidikan']), int(item['unit_organisasi']), int(item['agama']), int(item['status_kepegawaian']), item['nama'], item['nip'])  # Modify to match your data structure
    insert_query = "INSERT INTO pegawai (id_jk, id_golongan, id_pendidikan, id_unor, id_agama, id_status_pegawai, nama, nip) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)" 
    cursor.execute(insert_query, values)

In [ ]:

# Commit the changes and close the database connection
db.commit()
db.close()